projects/*.zip
.idea/
tools/bin/*.dat
projects/**/*.out
# Output hack files for project 06
projects/06/**/*.hack
!projects/06/**/*.comp.hack
# Compilation files for project 06
projects/06/hack_assembler/__pycache__/